apiVersion: v1
kind: Service
metadata:
  name: thunderdb
  namespace: thunderdb
  labels:
    app.kubernetes.io/name: thunderdb
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: thunderdb
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
      protocol: TCP
    - name: mysql
      port: 3306
      targetPort: mysql
      protocol: TCP
    - name: resp
      port: 6379
      targetPort: resp
      protocol: TCP
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9090
      targetPort: grpc
      protocol: TCP
